<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=255) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.price.label }}<br>
            {{ form.price(step="any") }}<br>
            {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.stockstatus.label }}<br>
            {{ form.stockstatus() }}<br>
            {% for error in form.stockstatus.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.year.label }}<br>
            {{ form.year(size=4) }}<br>
            {% for error in form.year.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=255) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.publisher.label }}<br>
            {{ form.publisher(size=255) }}<br>
            {% for error in form.publisher.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=255) }}<br>
            {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.idauthor.label }}<br>
            {{ form.idauthor() }}<br>
            {% for error in form.idauthor.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
