<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BookShop</title>
  </head>
  <body>
    <h1>BookShop TAM</h1>

    <a href="/order/create-order">Add Order</a><br>
    <a href="/order/update-order">Update Order</a><br>
    <a href="/order/delete">Delete Order</a><br>
    <a href="/order-details/view">View order details</a><br>
    <a href="/orders-by-date/view">View user order </a><br>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul>
	  {% for category, message in messages %}
	  <li class="{{ category }}">{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
  </body>
</html>
